@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Datatype:wght@100..900&display=swap');

:root {
    --base-black: #121113;
    --base-white: #F7F7F2;
    --base-bl-compl: #272222;
    --base-bl-compl-2: #372F2F;
    --base-wh-compl: #d3c3c3;
    --accent-1: #8C2C2C;
    --accent-2: rgba(140, 44, 44, 0.8);
    --accent-3: rgba(140, 44, 44, 0.6);
    --accent-4: rgba(140, 44, 44, 0.4);
    --accent-5: rgba(140, 44, 44, 0.2);
    --base-bl-text: #d3c3c3;
    --base-bl-text-focus: #F7F7F2;
    --base-wh-text: #272222;
    --base-wh-text-focus: #121113;

    --font-bricolage: 'Bricolage Grotesque', sans-serif;
    --font-dm: 'DM Sans', sans-serif;
    --font-datatype: 'Datatype', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}
html {
    font-family: var(--font-dm);
}
body {
    background: var(--base-bl-compl);
    color: var(--base-white);
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    flex-grow: 1;
}

code {
  font-family: var(--font-datatype) !important;
}

.datatype {
    font-family: var(--font-datatype) !important;
}
.dm {
    font-family: var(--font-dm) !important;
}
.bricolage {
    font-family: var(--font-bricolage) !important;
}

.dashed-transition-btn {
    border: none;
    background-color: transparent;
    color: var(--base-white);
    transition: color 0.1s ease;
    cursor: pointer;
}
.dashed-transition-btn:hover {
    background-color: transparent;
    color: var(--base-wh-compl);
}
.archive {
    display: hidden;
}

.sidebar .links a {
    font-size: 1.25em;
    text-transform: lowercase;
    color: var(--base-white);
    text-decoration: none;
    transition: color 0.1s ease;
}
.sidebar .links a:hover {
    color: var(--base-wh-compl);
    background: linear-gradient(
    to right,
    var(--base-bl-compl) 0%,
    var(--base-black) 100%
    );
}
.sidebar .contact-icons i {
    font-size: 1.75em;
    color: var(--base-white);
    transition: color 0.1s ease;
    cursor: pointer;

}
.sidebar .contact-icons i:hover {
    color: var(--accent-1);
}

.sidebar .contact-icons {
    display: flex;
    gap: 16px;
    text-align: center;
    justify-content: center;
    padding: 16px 0;

}
.sidebar hr {
  border: none;
  height: 2px;
  width: 85%;
  margin: 8px auto;
  background: linear-gradient(
    to left,
    transparent,
    var(--base-bl-compl)
    
  );
}
