/* main contents */
body {
	background-color: #000;
}

main {
	
	background-color: #fff;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Roboto Slab', serif;
}
/* Style rules for mobile viewport /*
/* show mobile class and hide tablet desktop class */
body, header, nav, main, footer, h1, div, img, ul {
	margin: 0;
	padding: 0;
	border: 0;
}
/* navbar */
header {

	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #000;
	height: 190px;
}
header img {
	margin: 0 auto;
}

.round {
	border-radius: 8px;
}

nav {
	padding: 1%;

}
nav ul {
	list-style-type: none;
	margin:0;
	text-align: center;
	
}
nav li {

	font-size: 1.5em;
	font-family: 'Francois One', Arial, sans-serif;
	font-weight: bold;
	border-top: 1px solid #fff;
}
.mobile {
	display: block;
}
/* .tablet-desktop {
	display: none;
} */
nav li a {
	display:block;
	color:#fff;
	text-align: center;
	padding: .5em 1em;
	text-decoration: none;
	
}
img {
	display:block;
	max-width:100%;
	
	 
}
main {
	clear: left;
	background-color: #fff;
	padding: 2%;
	font-size:1.25em;
	font-family: 'Roboto Slab', serif;
}
.tel-link {
	background-color: #404040;
	padding: 2%;
	margin: 0 auto 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 5px;
}
.tel-link a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}
/* footer */
footer p {
	font-size: 0.75em;
	text-align: center;
	color: #fff;
	padding: #fff;
}
footer p a {
	color: #fff;
	text-decoration: none;
}
#weights, #cardio, #training {
	margin: 0 2%;
}

#contact {
	text-align: center;
}
#contact a {
	color: #666600;
	text-decoration: none;
}
.action {
	font-size: 1.35em;
	color: #666600;
	font-weight: bold;
}
.external-link {
	color: #666600;
	font-weight: bold;
	text-decoration: none;
	
}
.map {
	border: 2px solid #000;
	width: 95%;
	height:50%;
	
}/* css reset */
.hours {
	margin-left: 10%;
}
/* #exercise {
	clear: left;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #f2f2f2;
	padding: 1% 2%;
}
#exercise dt {
	font-weight: bold;
}
#exercise dd {
	padding: 0.5% 1% 2% 0;
} */